<section id="projects" class="bg-white-100 py-10 px-6 md:px-20 relative">

  <!-- Title -->

  <div class="text-center mb-16">
    <div class="inline-block"> <!-- shrink-to-content wrapper -->

      <h2 class="flex items-center justify-center gap-3 text-3xl font-extrabold 
             bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent">

        <img src="project-header.png" class="w-8 h-8 cursor-pointer animate-bounce-y" alt="info icon" />

        <span class="bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent">
          Projects
        </span>
      </h2>

      <!-- line under header -->
      <div class="h-1 mt-2 bg-gradient-to-r from-blue-500 to-purple-500 rounded-full"></div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    <!-- Project CARD Create -->

    <div *ngFor="let item of projects | slice:0:showCount; let i = index" class="group relative p-6 rounded-xl shadow-md mb-4 cursor-pointer
            bg-gray-50 dark:bg-[rgb(57,55,55)]
            border border-transparent
            overflow-hidden
            transform transition-transform duration-300 ease-out
            education-card insideDivEducationdarkBg">

      <!-- Gradient overlay -->
      <span class="absolute inset-0 z-0 opacity-0 transition-opacity
             bg-gradient-to-r from-blue-100 to-purple-100
             dark:bg-gradient-to-r dark:from-blue-800 dark:to-purple-800
             group-hover:opacity-20
             dark:group-hover:opacity-20
             group-active:opacity-40
             dark:group-active:opacity-40
             rounded-xl
             pointer-events-none">
      </span>

      <div class="darkBgdiv w-full h-35 bg-gray-100 rounded-xl flex gap-2 justify-center">

        @for (img of item.projectImages; track $index) {
        <img [src]="img" alt="project image" class="h-full object-fill rounded-lg border-2 border-slate-500" [ngClass]="{
        'w-1/3': $index < 2,
        'w-1/2': $index === 2
      }" />
        }

      </div>


      <!-- Content -->
      <div class="mt-4">

        <h3 class="text-lg  bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent font-bold mt-1">
          {{item.projectNme}}</h3>

        <h3 class=" mt-3 ">
          <span class="Developerheader text-sm text-gray-700 font-semibold">
            Technologies Used :
          </span>


          @for (skill of item.projectSkills; track skill) {
          <span class="flex inline-block gap-5 mt-2 px-3 py-1 text-sm rounded-full
           bg-gradient-to-r from-blue-500 to-purple-500
           text-white shadow opacity-0 animate-fadeIn">
            {{ skill }}
          </span>
          }
        </h3>

        <h3
          class="mt-2 text-sm font-semibold bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent">
          Features :
        </h3>

        <div class="text-[12px] text-gray-500 leading-[8px]">
          <ul class="space-y-2 mt-1">

            @for (feature of getProjectFeatures(item, i); track $index) {
            <li class="flex items-start gap-3">

              <!-- Dot -->
              <span class="w-2 h-2 mt-1 rounded-full bg-gradient-to-r from-blue-500 to-purple-500"></span>

              <!-- Feature Text -->
              <p class="text-[12px] text-gray-700 dark:text-gray-300 leading-relaxed">
                {{ feature }}
              </p>

            </li>
            }

          </ul>

          <button class=" see-more-btn  px-1 rounded-lg border-1 border-blue-100 mt-3 bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent 
         font-medium hover:underline text-sm" (click)="toggle(i)">
            {{ activeIndex === i ? 'See less ▲' : 'See more ▼' }}
          </button>
        </div>


        <span class="flex gap-3 mt-5">
          <a [href]="item.viewProjlink" target="_blank" rel="noopener noreferrer" class="hover:scale-105 hover:shadow-lg  shadow-md 
         transition-all duration-300 px-3 py-1 text-sm rounded-full bg-gradient-to-r
              from-blue-500 to-purple-500 text-white shadow-md">
            Live Demo
          </a>

          <a [href]="item.githublink" target="_blank" rel="noopener noreferrer" class="hover:scale-105 hover:shadow-lg  shadow-md 
         transition-all duration-300 px-3 py-1 text-sm rounded-full bg-gradient-to-r
              from-blue-500 to-purple-500 text-white shadow-md">
            GitHub
          </a>
        </span>
      </div>
    </div>
  </div>

  <!-- Load More Button -->
  @if (projects.length > 3) {
  <!-- <div class="flex justify-center mt-10 gap-2 sticky bottom-0 bg-white py-4 z-10"> -->
      <div class="flex justify-center mt-10 gap-2 sticky bottom-0 py-4 z-10">


    @if (!isAllShown) {
    <button (click)="loadMore()"
      class="px-5 py-2 rounded-full bg-gradient-to-r from-blue-500 to-purple-500 text-white shadow-md mr-3">
      Show More
    </button>
    }

    @if (canShowLess) {
    <button (click)="showLess()"
      class="px-5 py-2 rounded-full bg-gradient-to-r from-blue-500 to-purple-500 text-white shadow-md mr-3">
      Show Less
    </button>
    }

  </div>
  }

  <!-- Certificates Component -->
  <app-certificates></app-certificates>

</section>